[Unit]
Description=John Air Sensor Service
After=network.target auditd.service
ConditionPathExists=!/home/pi/john_air/service_not_to_be_run

[Service]
ExecStart=/usr/bin/python3 /home/pi/john_air/main.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=notify

[Install]
WantedBy=multi-user.target
Alias=john_air.service
